apiVersion: v1
kind: Secret
metadata:
  name: yaser-redis-secret
  namespace: grupp1
type: Opaque
stringData:
  REDIS_PASSWORD: redis123
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: yaser-redis
  namespace: grupp1
  labels:
    app: yaser-guestbook
spec:
  replicas: 1
  selector:
    matchLabels:
      app: yaser-redis
  template:
    metadata:
      labels:
        app: yaser-redis
    spec:
      containers:
      - name: redis
        image: redis:7-alpine
        ports:
        - containerPort: 6379
        command:
        - redis-server
        - --requirepass
        - $(REDIS_PASSWORD)
        env:
        - name: REDIS_PASSWORD
          valueFrom:
            secretKeyRef:
              name: yaser-redis-secret
              key: REDIS_PASSWORD
        resources:
          limits:
            memory: 128Mi
            cpu: 100m
          requests:
            memory: 64Mi
            cpu: 50m
---
apiVersion: v1
kind: Service
metadata:
  name: yaser-redis
  namespace: grupp1
spec:
  ports:
  - port: 6379
  selector:
    app: yaser-redis
